.idea/
.vscode/
docs/
bin/touchon-server
bin/touchon_server
bin/cmd
cmd/cmd
_etc/
remarks.txt
remarks_om.txt
remarks_tr.txt
*_mock.go
.DS_Store
Dockerfile
Dockerfile-w64
Dockerfile-build-sqlean-unicode-so
touchon-server.zip
bin/db.sqlite